.perspective {
/*  	border: 10px solid green; */
 	display: inline-block;
	margin: 0px 0px 0px 0px;
	
	perspective: 500px;
}

.cube {
/* 	border: 10px solid blue; */
 	display: inline-block;
	
   	transform-style: preserve-3d;

/* 	transform: rotateX(45deg); */
	animation: rotate 10s infinite linear;
}

.base {
/* 	border:10px solid red; */
	width: 50px;
	height: 50px;
	font-size: 1em;
	text-align: center;
	line-height: 50px;
}

.front, .back, .left, .right, .top, .bottom {
	position: absolute;
	top: 0px;
	left: 0px;
	
	opacity: 0.3;
 	box-shadow: 0px 0px 10px hotpink;
}

.front {
	transform: translateZ(25px);
	background: red;
}

.back {
	transform: rotateY(180deg) translateZ(25px);
	background: blue;
}

.left {
	transform: rotateY(-90deg) translateZ(25px);
	background: green;
}

.right {
	transform: rotateY(90deg) translateZ(25px);
	background: purple;
}

.top {
	transform: rotateX(90deg) translateZ(25px);
	background: fuchsia;
}

.bottom {
	transform: rotateX(-90deg) translateZ(25px);
	background: orange;
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	
	50% {
		transform: rotateX(360deg) rotateY(0deg);
	}
	
	to {
		transform: rotateX(0deg) rotateY(360deg);
	}
}